
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Gespeicherte <i>Chuck Norris Facts</i></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <div *ngFor="let objekt of gespeicherteWitzePromise | async">

    &nbsp;

    <ion-text color="primary">
      <h2>{{ objekt.text }}</h2>
    </ion-text>

    <ion-text color="secondary">
      Gespeichert am {{ objekt.zeitstempel | date:'longDate' }}
    </ion-text>

    <!-- Deutsche Lokalisierung für Pipe "date" siehe auch Datei app.module.ts. -->

    &nbsp;

  </div>

</ion-content>
