
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Gespeicherte <i>Chuck Norris Facts</i></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <div *ngIf="(gespeicherteWitzePromise| async)?.length > 0; else nixGespeichert">

    <div *ngFor="let objekt of gespeicherteWitzePromise | async">
    
      &nbsp;

      <ion-text color="primary">
        <h2>{{ objekt.text }}</h2>
      </ion-text>

      <ion-text color="secondary">
        Gespeichert am {{ objekt.zeitstempel | date:'longDate' }}
        <!-- Deutsche Lokalisierung für Pipe "date" siehe auch Datei app.module.ts. -->
      </ion-text>      

      &nbsp;

    </div>
  </div>
 
  <ng-template #nixGespeichert>
    <ion-text color="secondary">
      <h2>Keine <i>Chuck Norris Facts</i> gespeichert.</h2>
    </ion-text>
  </ng-template> 

</ion-content>


