
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title><i>Chuck Norris Facts</i> abrufen</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <ion-text color="primary">
      <h1>{{witzText}}</h1>
  </ion-text>

  &nbsp;

  <ion-button color="primary" expand="block" (click)="onJokeLadenButton()" >Witz laden</ion-button>

  &nbsp;

  <div *ngIf="zeigeSpeichernButton">
    <ion-button color="secondary" expand="block" (click)="onSpeichernButton()" >Speichern</ion-button>
  </div>

</ion-content>
